@model DataSource.TrainingProgramCategory
@{
    ViewBag.Title = "Create Training Program Category";
}

<style type="text/css">
    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

        table td {
            border: 1px solid #ddd;
        }
</style>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Name").keyup(function () {
            if ($('#Name').val() == "") {
                document.getElementById("name").innerHTML = "The Training Program Category field cannot be empty";
            }
            else {
                document.getElementById("name").innerHTML = "";
            }
        });
    });
</script>

<div class="pageDescription">
    <div class="description">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                
                @Html.HiddenFor(m => m.IdTrainingProgramCategory)
                
                <div class="editor-label">
                    @Html.Label("Training Program Category")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { style = "width:500px", required = "required", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div>
                    <label id="name" style="color: red;"></label>
                </div>

                @if (ViewBag.error != "")
                {
                    <p style="color: #FF0000; font-size: medium;"><strong>@ViewBag.error</strong></p>
                }

                <p>
                    <input type="submit" id="btnCreate" value="Create" />
                </p>
            </fieldset>            
        }
    </div>
</div>