@model DataSource.Objective

@{
    ViewBag.Title = "Delete Objective";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this Objective?</h3>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Details</legend>
        <div class="display-label">@Html.Label("Objective"): @Html.DisplayFor(model => model.Objective1)</div>
        <div class="display-label">@Html.Label("Category"): @Html.DisplayFor(model => model.Category.Category1)</div>
        
        @if (Model.GoalTracking.Count != 0)
        {
            <p style="color: #FF0000; font-size: medium;"><strong>This objective can not be deleted because it has dependencies with one or more goals.</strong></p>
        }
        else
        {
            <p>
                <input type="submit" value="Delete" />
            </p>
        }
    </fieldset>
}
<div>
    <a href="@Url.Action("Index", "GoalTracking")">
        <img src="@Url.Content("~/Content/images/BackTiempoButtonWB.jpg")" height="25" width="25" title="Back to List" style="border: none" />
    </a>
</div>
