@model DataSource.GeneralTrainingProgramDetails
@{
    ViewBag.Title = "Edit Status Training";
}


<style type="text/css">
    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
    }

        table td {
            border: 1px solid #ddd;
        }
</style>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<div class="pageDescription">
    <div class="description">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @if (Model != null)
                {
                    @Html.HiddenFor(m => m.IdGeneralTrainingProgramDetails)
                    @Html.HiddenFor(m => m.IdGeneralTrainingProgram)
                    @Html.HiddenFor(m => m.ResourceId)
                    <div class="editor-label">
                        @Html.Label("Training Program"): @Html.DisplayFor(m => m.GeneralTrainingProgram.Name)
                    </div>
                    <div class="editor-label">
                        @Html.Label("Category"): @Html.DisplayFor(m => m.GeneralTrainingProgram.TrainingProgramCategory.Name)
                    </div>
                    <div class="editor-label">
                        @Html.Label("Status"): @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewData["ListOfProgress"])
                    </div>
                    <div class="editor-label">
                        @Html.Label("Link"): @Html.DisplayFor(m => m.GeneralTrainingProgram.Link)
                    </div>
                    <div class="buttons-div">
                        <input type="submit" value="Save" />
                    </div>

                }
            </fieldset>

        }
    </div>
</div>