@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    const string baseReportUrl = "~/Reporting/ManagersCheckReport.aspx";
    string defaultReportUrl = baseReportUrl;
}

<style type="text/css">
    iframe[seamless] {
        background-color: transparent;
        border: 0px none transparent;
        padding: 0px;
        overflow: hidden;
    }
</style>
<script>
    function updateFrame() {
        var complete = $("#completeFilter").val();
        var manager = $("#managerFilter").val();
        var year = $("#yearFilter").val();
        var quarter = $("#quarterFilter").val();

        var url = '@Url.Content(@baseReportUrl + "?")';
        url = url + "manager=" + manager + "&complete=" + complete + "&year=" + year + "&quarter=" + quarter;

        $('#progressReportFrame').attr('src', url);
    }

    $(document).ready(function () {
        $("#managerFilter").change(function () {
            $("#_manager").val($("#managerFilter").val());
        });

        $("#yearFilter").change(function () {
            $("#_year").val($("#yearFilter").val());
        });

        $("#quarterFilter").change(function () {
            $("#_quarter").val($("#quarterFilter").val());
        });
    });

</script>

<div class="pageDescription">
    <div class="description">
        <h2>Manager's Check Report</h2>
        <br />
        <form id="reportForm" class="form-horizontal reportForm">
            <div class="col-sm-5 form-horizontal">
                <label>
                    Manager:
                </label>
                @Html.DropDownList("Manager", (IEnumerable<SelectListItem>)ViewData["Managers"], new { style = "width:180px;", id = "managerFilter" })
            </div>
            <div class="col-sm-7 form-horizontal">
                <label>
                    Complete:
                </label>
                @Html.DropDownList("Complete", new List<SelectListItem>()
                                    {
                                    new SelectListItem() { Text = "All", Value = "All", Selected = true },
                                    new SelectListItem() { Text = "Yes", Value = "Yes", Selected = false },
                                    new SelectListItem() { Text = "No", Value = "No", Selected = false }
                                    }, new { style = "width: 80px;", id = "completeFilter" })
            </div>
            <div class="col-sm-5 form-horizontal">
                <label>
                    By year:
                </label>
                @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewData["ListOfYears"], new { style = "width: 80px;", id = "yearFilter" })
            </div>
            <div class="col-sm-4 form-horizontal">
                <label>
                    and quarter:
                </label>
                @Html.DropDownList("Quarter", (IEnumerable<SelectListItem>)ViewData["ListOfQuarters"], new { style = "width: 110px;", id = "quarterFilter" })
            </div>
            <div class="col-sm-1 form-horizontal">
                <input type="button" value="Find" onclick="updateFrame()" style="width: 80px;">
            </div>
        </form>

        <IFrame id="progressReportFrame" src="@Url.Content(defaultReportUrl)" width="100%" height="650" seamless="seamless"></IFrame>
        @using (Html.BeginForm("SendMailToManagersWithoutManagersCheck", "GoalTracking", null, FormMethod.Post, new { id = "submitformManagersCheck", name = "submitform" }))
        {
            <p class="centerText">
                @Html.Hidden("_manager", "", new { @Id = "_manager" })
                @Html.Hidden("_completed", "No", new { @Id = "_completed" })
                @Html.Hidden("_year", null, new { @Id = "_year" })
                @Html.Hidden("_quarter", null, new { @Id = "_quarter" })
                <input type="button" value="Send Email Notification" onclick="return alerts('submitformNoObjectives');" />
            </p>


        }
    </div>
</div>