@using CDPTrackerSite.Controllers
@model List<DataSource.SkillCompassGlossary>
@{
    ViewBag.Title = "Skill Compass Glossary";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{ @input
}
else
{ @input.Substring(0, length)<text>...</text>
    }
}

<script type="text/javascript">
    var AreaId = '@ViewBag.AreaId';
    $(document).ready(function () {
        if (AreaId != 0) {
            document.getElementById("Area").value = AreaId;
        }
    });

    window.onload = function () {
        $("#searchWordsAdmin").on("keyup", function search(e) {
            var map = new Map();
            if ((e.keyCode >= 48 && e.keyCode <= 90) || e.keyCode == 8) {
                var SkillRows = $('#ContentTable>tbody>tr');
                for (i = 0; i < SkillRows.length; ++i) {
                    var item = SkillRows.get(i);
                    var itemText = item.children[0].innerHTML.toLowerCase().trim();
                    var textTyped = $(this).val().toLowerCase();
                    if (itemText.indexOf(textTyped) == -1) {
                        item.className = 'hide';
                    } else {
                        item.className = 'center';
                    }
                }
            }
        });
    };
</script>
<div class="pageDescription">
    <div class="description">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <p>                
                <h4>Select an area:</h4>                
                <div id="content-searchbyArea">
                    @Html.DropDownList("Area", (IEnumerable<SelectListItem>)ViewData["ListOfAreas"])
                </div>
                <br />
                <div id="content-searchbyName">
                    <input type="Search" name="searchWord" value="" id="searchWordsAdmin" placeholder="Search skill..." />
                </div>
            </p>
            <p>
                <input type="submit" value="Find" style="width: 80px;">
            </p>   
            
            <br />

            <div class="fancy-table">
                <div class="fancy-title text-center">
                    <div>
                        @if (ViewBag.AreaId != 0)
                        {
                            @ViewBag.Area
                        }
                        else
                        {
                            <span>Glossary</span>
                        }
                    </div>
                </div>

                <div class="smallLabels visible-xs pull-right" style="padding-bottom:3px">
                    Add New
                    <a href="@Url.Action("CreateSkillCompassGlossary")" style="text-decoration: none;padding-left:3px">
                        <img src="@Url.Content("~/Content/images/AddGoal-icon.png")" height="15" width="15" title="Add New" style="border:none;" />
                    </a>
                </div>

                <div class="fancy-header hidden-xs">
                    <div class="fancy-row form-group">
                        <div class="form-group col-sm-3 text-center">
                            Name
                        </div>
                        <div class="form-group col-sm-7 text-center">
                            Description
                        </div>
                        <div class="form-group col-sm-2 text-center">
                            <a href="@Url.Action("CreateSkillCompassGlossary")" style="text-decoration:none;">
                                <img src="@Url.Content("~/Content/images/AddGoal-icon.png")" height="15" width="15" title="Add New" style="border:none;" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="fancy-body">
                    @if (Model == null)
                    {
                        <div class="fancy-row form-group">
                            <div class="form-group col-sm-12">
                                <div>
                                    No Data Available
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="fancy-row form-group">

                                <div class="form-group col-sm-3 text-center">
                                    <div class="smallLabels visible-xs">
                                        Name
                                    </div>
                                    @item.Name
                                </div>

                                <div class="form-group col-sm-7">
                                    <div class="smallLabels visible-xs">
                                        Description
                                    </div>
                                    @*@Truncate(item.Description,100)*@
                                    @item.Description
                                </div>

                                <div class="form-group col-sm-2 text-center">
                                    <a href="@Url.Action("EditSkillCompassGlossary", new { id = item.SkillCompassGlossaryId })" style="text-decoration:none">
                                        <img src="@Url.Content("~/Content/images/EditGoal-icon.png")" height="22" width="22" title="Edit Skill" style="margin-left: 10px; border: none;" />
                                    </a>
                                    &nbsp &nbsp
                                    <a href="@Url.Action("DeleteSkillCompassGlossary", new { id = item.SkillCompassGlossaryId })" style="text-decoration:none">
                                        <img src="@Url.Content("~/Content/images/DeleteGoal-icon.png")" height="17" width="17" title="Delete Skill" style="border: none;" />
                                    </a>
                                </div>

                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>