<div class="pageDescription">
    <div class="description">
        <h2>Team Member Input</h2>
        <p> Please answer the following questions based on how you felt during this quarter, taking into consideration highlights and important details. </p>

        <section id="questionsContainer" data-evaluatedid="@ViewBag.evaluatedResourceId"></section>


        <!-- Footer Button -->
        <div id="saveSurvey" class="btn-group footer-button" role="group">
            <span class="icon">
                <img src="@Url.Content("~/Content/images/save.png")" title="Submit" />
            </span>
            <span class="text">
                Submit
            </span>
        </div>


        <section id="questionsTemplate" style="display: none">


            <!-- MULTIPLE CHOICE QUESTION -->
            <section id="questionType1">
                <div data-question-type="1" class="question panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="answers-container panel-body">

                    </div>
                </div> <!-- question -->
            </section>

            <section id="answerType1">
                <div class="answer col-md-6">
                    <div class="input-group">
                        <input type="radio" name="question-radio-1" value="1">
                        <label class="form-control">Answer</label>
                    </div>
                </div>
            </section>

            <!-- OPEN ANSWER QUESTION -->
            <section id="questionType2">
                <div data-question-type="2" class="question panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="answers-container panel-body">
                        <div class="answer col-md-12">
                            <div class="input-group">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
    

    




<script type="text/javascript" src="@Url.Content("~/Scripts/GoalTracking/TeamMembersInput/SurveyGenerator.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GoalTracking/TeamMembersInput/SurveyAnswers.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GoalTracking/TeamMembersInput/TeamMembersInputRequestHandler.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GoalTracking/TeamMembersInput/TeamMembersInputManager.js")"></script>
<script>
    jQuery(document).ready(function () {
        var survey = {
            questions: JSON.parse('@Html.Raw(Json.Encode(Model))')
        };
        survey.surveyId = survey.questions[0].surveyId

        var parents = [];
        $.each(survey.questions, function (pIndex, pEl) {
            var child = pEl.questionChild;
            if (child != null) {
                $.each(survey.questions, function (cIndex, cEl) {
                    if (cEl.questionId == child) {
                        cEl.questionParent = pEl.questionId;
                    }
                });
            }
        });

        var surveyGenerator = new SurveyGenerator();
        var surveyAnswers = new SurveyAnswers();
        var teamMembersInputRequestHandler = new TeamMembersInputRequestHandler();
        var teamMembersInputManager = new TeamMembersInputManager(surveyGenerator, surveyAnswers, teamMembersInputRequestHandler);

        // Initialize
        teamMembersInputManager.init(survey);

        $(document).find('[data-question-type="2"]').find(".answer").find("textarea").prop({ "placeholder": "Max 500 characters", "maxlength": "500" })
    });
</script>