@model List<DataSource.TrainingProgramOnDemand>
@{
    ViewBag.Title = "Training Program On Demand";
}

<h2>@ViewBag.Title</h2>

<style type="text/css">
    table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    }
    table td{
    border: 1px solid #ddd;
    }
    .test {
      display: inline;
      overflow: auto;
      white-space: nowrap;
      margin: 0px auto;
    }
</style>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{    
    @Html.ValidationSummary(false)
    <div>
        <table class="center" ; style="width: 100%;">
            <tr>
                <td colspan="7" style="text-align: center; font-size: large; font-family: Cambria; background-color: #4C4D4F; font-weight: 700; color: #fff">
                    Training Program On Demand
                </td>
            </tr>
            <tr style="background-color:#F7F8FB">
                <th style="text-align: center; background-color: #F7F8FB; width:50%;">Name</th>                                                    
                <th style="text-align: center; background-color: #F7F8FB; width:10%;">Start Date</th>
                <th style="text-align: center; background-color: #F7F8FB; width:10%;">Finish Date</th>
                <th style="text-align: center; background-color: #F7F8FB; width:10%;">Link</th>
                <th style="text-align: center; background-color: #F7F8FB; width:10%;">Actions</th>
            </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (item.FinishDate >= DateTime.Now.AddDays(-1) && item.StartDate <= DateTime.Now)
            {
            <tr>
                <td style="width: 50%; text-align: center;">@item.Name</td>        
                <td style="width: 10%; text-align: center;">
                    @if (item.StartDate != null)
                    {
                        @String.Format("{0:d}", item.StartDate)
                    }
                </td>
                <td style="width: 10%; text-align: center;">
                    @if (item.FinishDate != null)
                    {
                        @String.Format("{0:d}", item.FinishDate)
                    }
                </td>
                <td style="width: 10%; text-align: center;">                            
                    @if (item.Link != null)
                    {
                    <a href="@item.Link" target="_blank" style="text-decoration: none">
                        <img src="@Url.Content("~/Content/images/link.png")" height="22" width="22" title="Click Here" style="margin-left: 10px; border: none" />
                    </a>
                    }
                </td>
                <td style="width: 10%; text-align: center;">
                    <a>
                        <input type="submit" value="Add Training" style="width: 100px !important;" onclick="this.form.action += '?id='+@item.IdTrainingProgramOnDemand.ToString()+''"/>                
                    </a>
                </td>                    
          </tr> 
             }
        }
    }   
        </table>
    </div>    
}
